button {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

app-search {
  width: 200px;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.spacer {
  flex-grow: 1;
}

.container {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.actionbar {
  border-bottom: 1px solid darkgray;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
