<div class="container">
  <button mat-raised-button color="accent" (click)="onCreateFolderClick()" [disabled]="actionsDisabled">
    {{staticTextService.staticTexts | getStaticText : 'createFolder' : languageService.getLanguage()}}
  </button>
  <button mat-raised-button color="accent" (click)="onUploadFileClick()" [disabled]="actionsDisabled">
    {{staticTextService.staticTexts | getStaticText : 'uploadFile' : languageService.getLanguage()}}
  </button>

  <button mat-raised-button color="accent" (click)="onDownloadSpaceClick()" [disabled]="actionsDisabled"
          class="space-download" *ngIf="isSpaceRoot">
    {{staticTextService.staticTexts | getStaticText : 'downloadSpace' : languageService.getLanguage()}}
  </button>

  <app-search></app-search>
</div>
