button {
  margin: 10px;
}

app-search {
  float: right;
  margin-right: 50px;
}

.container {
  border-bottom: 1px solid darkgray;
}

.space-download {
  float: right;
}

@media only screen and (max-width: 600px) {
  button {
    margin: 5px;
  }

  app-search {
    margin-right: 5px;
  }

  .container {
    overflow: auto;
  }

  .space-download{
    float: none;
  }
}
