<div id="wrapper">
  <ng-container *ngIf="srcIsReady | async ; else loading">
    <img id="picture" *ngIf="contentType.includes('image'); else showOther" [src]="fileUrl" alt="file image">
    <ng-template #showOther>
      <ng-container *ngIf="contentType.includes('pdf');else showVideo">
        <object id="pdfView"
                [data]="fileUrl"
                type="application/pdf">
          <p>Your browser does not support PDFs.</p>
        </object>
      </ng-container>
      <ng-template #showVideo>
        <ng-container *ngIf="contentType.includes('video');else showText">
          <ng-container *ngIf="srcIsReady | async">
            <video id="video" controls (click)="toggleVideo()" #videoPlayer>
              <source [src]="fileUrl" type="video/mp4"/>
              Browser not supported
            </video>
          </ng-container>
        </ng-container>
        <ng-template #showText>
          <ng-container *ngIf="contentType.includes('text');else showMessage">
            <div id="editor">
              <button class="editorBtn" *ngIf="isDisabled" mat-raised-button color="primary"
                      (click)="toggleEditing()">{{staticTextService?.staticTexts | getStaticText : 'edit' : languageService?.getLanguage()}}</button>
              <button class="editorBtn" *ngIf="!isDisabled" mat-raised-button color="primary"
                      (click)="[toggleEditing(), expFile()]">{{staticTextService?.staticTexts | getStaticText : 'save' : languageService?.getLanguage()}}</button>
              <button class="editorBtn" *ngIf="!isDisabled" mat-raised-button color="primary"
                      (click)="cancel()">{{staticTextService?.staticTexts | getStaticText : 'cancel' : languageService?.getLanguage()}}</button>
              <ckeditor [config]="editorConfig" [editor]="Editor" [(ngModel)]="editableText" [disabled]="isDisabled"
                        (ready)="onReady($event)"></ckeditor>
            </div>
          </ng-container>
          <ng-template #showMessage>
            <p>{{staticTextService.staticTexts | getStaticText : 'noView' : languageService.getLanguage()}}</p>
          </ng-template>
        </ng-template>
      </ng-template>
    </ng-template>
  </ng-container>
  <ng-template #loading>
    <img id="loadingGif" src="https://media.giphy.com/media/sSgvbe1m3n93G/source.gif" alt="loading">
  </ng-template>
  <div id="details">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Details</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          <b>{{staticTextService.staticTexts | getStaticText : 'detailsFileName' : languageService.getLanguage()}}</b> {{fileName}}
        </p>
        <p>
          <b>{{staticTextService.staticTexts | getStaticText : 'detailsAuthor' : languageService.getLanguage()}}</b> {{file?.author}}
        </p>
        <p>
          <b>{{staticTextService.staticTexts | getStaticText : 'detailsCreationDate' : languageService.getLanguage()}}</b> {{getConvertedDate()}}
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<app-comments [fileId]="file.id"></app-comments>
