img {
  height: auto;
  max-width: fit-content;
}

#wrapper {
  display: inline-block;
  width: 100%;
  height: 100%;
}

#picture {
  height: auto;
  padding: 5px;
  max-width: calc(100% - 340px);
}

#editor {
  float: left;
  width: calc(100% - 345px);
  height: 50vh;
  margin-left: 20px;
}
#pdfView{
  padding: 5px;
  width: calc(100% - 340px);
  height: 100vh;
}

#details {
  float: right;
  padding: 5px;
  min-width: 200px;
  max-width: 320px;
}




