<div id="wrapper">
  <ng-container *ngIf="srcIsReady | async ; else loading">
    <img id="picture" *ngIf="fileType === 'png' || fileType === 'jpg'; else showOther" [src]="fileUrl" alt="file image">
    <ng-template #showOther>
      <ng-container *ngIf="fileType === 'pdf';else showVideo">
        <object id="pdfView"
                [data]="fileUrl"
                type="application/pdf">
          <p>Your browser does not support PDFs.</p>
        </object>
      </ng-container>
      <ng-template #showVideo>
        <ng-container *ngIf="fileType === 'mp4';else showText">
          <ng-container *ngIf="srcIsReady | async">
            <video id="video" controls (click)="toggleVideo()" #videoPlayer>
              <source [src]="fileUrl" type="video/mp4"/>
              Browser not supported
            </video>
          </ng-container>
        </ng-container>
        <ng-template #showText>
          <ng-container *ngIf="fileType === 'txt';else showMessage">
            <div id="editor">
              <ckeditor [config]="editorConfig" [editor]="Editor" [(ngModel)]="editableText" [disabled]="isDisabled"
                        (ready)="onReady($event)"></ckeditor>
            </div>
            <button *ngIf="isDisabled" mat-raised-button color="primary"
                    (click)="toggleEditing()">{{staticTextService?.staticTexts | getStaticText : 'edit' : languageService?.getLanguage()}}</button>
            <button *ngIf="!isDisabled" mat-raised-button color="primary"
                    (click)="[toggleEditing(), expFile()]">{{staticTextService?.staticTexts | getStaticText : 'save' : languageService?.getLanguage()}}</button>
            <button *ngIf="!isDisabled" mat-raised-button color="primary"
                    (click)="cancel()">{{staticTextService?.staticTexts | getStaticText : 'cancel' : languageService?.getLanguage()}}</button>
          </ng-container>
          <ng-template #showMessage>
            <p>Viewing this file is not possible.</p>
          </ng-template>
        </ng-template>
      </ng-template>
    </ng-template>
  </ng-container>
  <ng-template #loading>
    <img src="https://media.giphy.com/media/sSgvbe1m3n93G/source.gif">
  </ng-template>
  <div id="details">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Details</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>{{staticTextService.staticTexts | getStaticText : 'detailsFileName' : languageService.getLanguage()}} {{file?.name}}</p>
        <p>{{staticTextService.staticTexts | getStaticText : 'detailsAuthor' : languageService.getLanguage()}} {{file?.author}}</p>
        <p>{{staticTextService.staticTexts | getStaticText : 'detailsCreationDate' : languageService.getLanguage()}} {{file?.creationDate}}</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<app-comments [fileId]="file.id"></app-comments>
