mat-toolbar {
  position: fixed;
  bottom: 0;
  height: 30px;
  color: white;
  font-size: 0.9em;
  background-color: #673ab7;
}

p {
  margin: 5px;
}

p:first-of-type {
  margin-left: auto;
}

p:last-of-type {
  margin-right: auto;
}
