<mat-sidenav-container>
  <mat-sidenav mode="side" disableClose opened>
    <app-space-bar></app-space-bar>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-header-bar [backButtonDisabled]="folderId == undefined"></app-header-bar>

    <ng-container *ngIf="fileId == undefined">
      <app-action-bar [actionsDisabled]="searchValue != undefined"></app-action-bar>

      <app-thumbnail *ngFor="let folder of currentRoot?.folders" [filename]="folder.name" [thumbnailType]="'folder'"
                     (click)="navigateToFolder(folder.id)"></app-thumbnail>
      <app-thumbnail *ngFor="let file of currentRoot?.files" [thumbnailType]="'file'" [filename]="file.name"
                     (click)="navigateToFile(file.id)"></app-thumbnail>
    </ng-container>

    <ng-container *ngIf="fileId != undefined">
      <app-file-view></app-file-view>
    </ng-container>
  </mat-sidenav-content>
</mat-sidenav-container>

