mat-sidenav {
  min-width: 51px;
}

mat-sidenav-container {
  height: 100%;
}

app-thumbnail {
  cursor: pointer;
  display: inline-block;
  margin: 5px;
  min-width: 70px;
}

app-file-view {
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  position:absolute;
  left:0;
  right:0;
}

.thumbnail-grid {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media (min-width:600px) {
  .thumbnail-grid {
    justify-content: start;
  }
}
