mat-sidenav {
  min-width: 50px;
}

mat-sidenav-container {
  height: 100%;
}

app-thumbnail {
  cursor: pointer;
  display: inline-block;
  margin: 5px;
  min-width: 70px;
}

app-file-view {
  position:absolute;
  left:0;
  right:0;
}
