<form>
  <mat-form-field class="comment-container">
    <textarea matInput
              placeholder="{{staticTextService.staticTexts | getStaticText : 'leaveComment' : languageService.getLanguage()}}"
              [ngModel]="newComment"
              [cdkTextareaAutosize]="true" [formControl]="control"></textarea>
  </mat-form-field>
</form>
<button mat-raised-button color="primary" (click)="postComment()" [disabled]="newComment == ''">
  {{staticTextService?.staticTexts | getStaticText : 'comment' : languageService?.getLanguage()}}
</button>

<mat-card *ngFor="let comment of comments">
  <mat-card-header>
    <mat-card-title>{{comment?.text}}</mat-card-title>
    <mat-card-subtitle>{{comment?.author}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    {{comment?.date}}
  </mat-card-content>

  <mat-card-actions>
    <button color="warn" mat-button *ngIf="comment.author == userService?.currentUser$?.value?.username"
            (click)="deleteComment(comment.id)">
      {{staticTextService?.staticTexts | getStaticText : 'delete' : languageService?.getLanguage()}}
    </button>
  </mat-card-actions>
</mat-card>
