:host {
  position: relative;
}

img {
  display: block;
  margin: auto;
  height: 50px;
  width: 50px;
}

p {
  margin: 0;
  text-align: center;
}

app-action-menu {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: -5px;
}
