.register {
  display: flex;
  justify-content: center;
  padding: 100px 0;
}

.mat-form-field {
  width: 100%;
  min-width: 300px;
}

mat-card-title,
mat-card-content {
  display: flex;
  max-width: 300px;
  justify-content: center;
}

.button {
  display: flex;
  justify-content: flex-end;
}

.mail-sent {
  color: #673ab7;
}

.error {
  color: red;
}
