<h1 mat-dialog-title>
  {{staticTextService.staticTexts | getStaticText : 'createSpace' : languageService.getLanguage()}}
</h1>
<div mat-dialog-content>
  <p>
    {{staticTextService.staticTexts | getStaticText : 'nameSpace' : languageService.getLanguage()}}
  </p>
  <mat-form-field>
    <input matInput [(ngModel)]="spaceName" cdkFocusInitial>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">
    {{staticTextService.staticTexts | getStaticText : 'noThanks' : languageService.getLanguage()}}
  </button>
  <button mat-button [mat-dialog-close]="spaceName">
    {{staticTextService.staticTexts | getStaticText : 'create' : languageService.getLanguage()}}
  </button>
</div>
