<h1 mat-dialog-title>
  {{staticTextService.staticTexts | getStaticText : 'shareUrl' : languageService.getLanguage()}}
</h1>
<div mat-dialog-content>
  <mat-form-field>
    <textarea [readonly]="true" matInput matTextareaAutosize [(ngModel)]="link"></textarea>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCloseClick()">
    {{staticTextService.staticTexts | getStaticText : 'close' : languageService.getLanguage()}}
  </button>
  <button mat-raised-button (click)="copyTextToClipBoard()" color="primary">
    {{staticTextService.staticTexts | getStaticText : 'copy' : languageService.getLanguage()}}
  </button>
</div>
