<div class="container">
  <h2>{{staticTextService.staticTexts | getStaticText : 'accountSettings' : languageService.getLanguage()}}</h2>
  <div>
    <p>
      {{staticTextService.staticTexts | getStaticText : 'chooseLanguage' : languageService.getLanguage()}}
    </p>

    <mat-button-toggle-group #group="matButtonToggleGroup" [value]="language"
                             (valueChange)="this.languageService.setLanguageString(group.value)">
      <mat-button-toggle value="English">
        English
      </mat-button-toggle>
      <mat-button-toggle value="German">
        German
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  <h2>{{staticTextService.staticTexts | getStaticText : 'spaceSettings' : languageService.getLanguage()}}</h2>

  <button mat-raised-button color="primary" (click)="deleteSpace()">
    {{staticTextService.staticTexts | getStaticText : 'delete' : languageService.getLanguage()}}
  </button>

  <form class="form">
    {{staticTextService.staticTexts | getStaticText : 'addUser' : languageService.getLanguage()}}:
    <mat-form-field>
      <input matInput placeholder="Username" [formControl]="formControl">
      <mat-error *ngIf="formControl.hasError('username') && !formControl.hasError('required')">
        {{staticTextService.staticTexts | getStaticText : 'enterUsername' : languageService.getLanguage()}}
      </mat-error>
    </mat-form-field>
  </form>

  <button mat-raised-button color="primary" (click)="addUser(formControl.value)">
    {{staticTextService.staticTexts | getStaticText : 'addUser' : languageService.getLanguage()}}
  </button>

  <div class="user-list">
    {{staticTextService.staticTexts | getStaticText : 'currentUsers' : languageService.getLanguage()}}:
    <mat-chip-list #userList aria-label="Users">
      <mat-chip *ngFor="let user of users" [removable]="true" (removed)="removeUser(user.id)" color="accent" selected>
        {{user.name}} - {{user.mail}}
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
    </mat-chip-list>
  </div>
</div>
