button {
  margin: 10px;
}

.logout, .settings-button {
  margin-right: 50px;
  float: right;
}

.container {
  border-bottom: 1px solid darkgray;
}

.material-icons {
  font-size: 40px;
}

@media only screen and (max-width: 600px) {
  .container {
    overflow: auto;
  }

  .logout, .settings-button {
    margin-right: 5px;
    float: right;
  }

  button {
    margin: 5px;
  }
}
