button {
  margin: 10px;
}

.logout, .settings-button {
  margin-right: 50px;
  float: right;
}

.container {
  background-color: #6A0080;
  color: white;
}

.material-icons {
  font-size: 40px;
}

.back-button:disabled {
  border: 1px solid #ffd740;
  color: #ffd740;
}
