<div class="container">
  <div class="headerbar">
    <div class="headerbar__left">
      <button mat-icon-button (click)="openSettings()" class="settings-button"
              *ngIf="userService?.token != undefined">
        <i class="material-icons">settings_applications</i>
      </button>

      <button mat-flat-button color="primary" (click)="onBackButtonClick()"
            [disabled]="(backButtonDisabled || pathTooShort()) && !isSettings" class="button-up">
      <ng-container *ngIf="isSettings">
        {{staticTextService.staticTexts | getStaticText : 'back' : languageService.getLanguage()}}
        </ng-container>
        <ng-container *ngIf="!isSettings">
          {{staticTextService.staticTexts | getStaticText : 'upwards' : languageService.getLanguage()}}
        </ng-container>
        </button>
      <app-path [path]="currentPath"></app-path>
    </div>

    <div>
      <button mat-button (click)="onLogoutButtonClick()" class="logout"
              *ngIf="userService?.token != undefined">
        {{staticTextService.staticTexts | getStaticText : 'logout' : languageService.getLanguage()}}
      </button>
    </div>
  </div>
</div>
