button {
  margin: 10px;
}

.container {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  background-color: #7e57c2; /* deeppurple */
  color: white;
}

.headerbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerbar__left {
  white-space: nowrap;
  overflow: hidden;
}

.material-icons {
  font-size: 40px;
}

button-up {
  padding: 0;
}
